body {
  background: #f0f2f5;
}

// $fontFamily: Poppins;

@mixin h5Style {
  color: #91929e;
  // font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contaner-header {
  padding: 50px 338px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 690px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // gap: 372px;
  &__name {
    width: 161px;
    color: #0a1629;
    // font-family: $fontFamily;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }
  &__button {
    width: 157px;
    height: 44px;
    border: 0;
    border-radius: 14px;
    background: #713fff;
    box-shadow: 0px 6px 12px 0px rgba(113, 63, 255, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    p.header__text {
      color: white;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.container {
  padding: 0 322px;

  //   width: 100vw;
  //   margin: 0 auto;
  //   padding: 0 322px;
  //   display: inline-flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: 20px;
}

.list {
  width: 100%;
  //   max-width: 722px;
  margin: 0 auto;
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__item {
    // width: 100%;
    max-width: 722px;
    padding: 24px 32px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    background: #fff;
    div.list__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      h5 {
        @include h5Style();
      }
      p {
        width: 200px;
        color: #0a1629;
        // font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    div.list__priority {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      h5 {
        @include h5Style();
      }
      p {
        width: 72px;
        color: #f73446;
        // font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
    }
    button.list__progress {
      color: #7d8592;
      text-align: center;
      font-family: Arial;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      width: 120px;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      background: #edeef0;
      border: none;
      cursor: pointer;
    }
    div.list__group-button {
      display: flex;
      flex-direction: row;
      gap: 40px;

      button.list__edit-button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
      }
      button.list__delete-button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 767px) {
  .contaner-header {
    padding: 50px 15px 40px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    // padding: 50px 15px 40px 15px;
  }
  .container {
    padding: 0 15px;
  }
  .list {
    width: 100%;
    //   max-width: 722px;
    margin: 0 auto;
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    gap: 20px;
    &__item {
      width: 370px;
      padding: 20px;
      gap: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
    div.list__title {
      h5 {
        width: 32px;
      }
    }
    div.list__priority {
      h5 {
        width: 47px;
      }
    }
    button.list__progress {
      width: 100px;
      padding: 8px 12px;
    }
    div.list__group-button {
      display: flex;
      flex-direction: row-reverse;
      gap: 24px;
    }
  }
}
