.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  position: fixed;
  z-index: 1;
  top: 209px;
  display: inline-flex;
  padding: 40px 60px;
  flex-direction: column;
  // justify-content: flex-start;
  align-items: center;
  gap: 28px;
  border-radius: 24px;
  background: #fff;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    h3.modal__name {
      color: #0a1629;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
    }
    button.modal__button-cancel{
      background-color: transparent;
      border: 0;
      cursor: pointer;
      // svg{
      //   path.modal__icon:hover{
      //     background-color: red;
      //     color: red;
      //     fill: #f73446;
      //   }
      // }
    }
    // button.modal__button-cancel:hover{
    //   background-color: #7d8592;
    //   color: #fff;
    //   fill:white;
    // }
  }
  &__input {
    h5.modal__text {
      color: #7d8592;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    input {
      width: 440px;
      display: flex;
      padding: 12px 20px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 8px;
      border: 1px solid #d8e0f0;
      // &::placeholder{
      //   color:#f73446 ;
      // }
    }
    // input:not(:placeholder-shown){
    //   border-color: #f73446;
    // }
    // input.input--disabled {
    //   width: 440px;
    //   display: flex;
    //   padding: 12px 20px;
    //   align-items: flex-start;
    //   gap: 10px;
    //   border-radius: 8px;
    //   border: 2px solid #f73446; /* Màu viền ô input đỏ */
    // }
  }
  &__priority {
    width: 100%;
    h5 {
      color: #7d8592;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    // @extend .modal__text;
    div.modal__group-button {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      cursor: pointer;
      button.modal__button {
        width: 120px;
        height: 36px;
        background-color: transparent;
        border-radius: 10px;
      }
      button.modal__button--high {
        border: 1px solid #f73446;
        color: #f73446;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        cursor: pointer;
        &.selected{
          background-color: #f73446;
          color: white;
        }
      }
      button.modal__button--medium {
        border: 1px solid #ffbd21;
        color: #ffbd21;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        cursor: pointer;
        &.selected{
          background-color: #ffbd21;
          color: white;
        }
      }
      button.modal__button--low {
        border: 1px solid #0ac947;
        color: #0ac947;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        cursor: pointer;
        &.selected{
          background-color: #0ac947;
          color: white;
        }
      }
    }
  }
  &__output {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    button.modal__primary {
      width: 114px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #713fff;
      background: #713fff;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: white;
      cursor: pointer;
    }
    button.button--disabled{
      width: 114px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #bea6ff;
      background: #bea6ff;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: white;
    }
    button.modal__secondary {
      width: 118px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #d8e0f0;
      background: transparent;
      color: #7d8592;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px; /* 100% */
      cursor: pointer;
    }
  }
}
